'menu': [
  {
    label: 'Packages'
    'submenu': [
      label: 'TeXlicious'
      'submenu': [
        { label: 'Build TeX File', command: 'texlicious:build' },
        { label: 'Watch TeX File', command: 'texlicious:watch' }
      ]
    ]
  }
]
'context-menu':
  '.tree-view': [
    { label: 'Build TeX File', command: 'texlicious:build' },
    { label: 'Watch TeX File', command: 'texlicious:watch' }
  ]
